<!---Copyright (C) <2014>  <Saymon Pires da Silva>

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA -->
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/search" lang="pt-br">
<head>
	<TITLE>Iskrillex.com download. Evite esperas, captchas e cadastros desnecessários buscando os arquivos direto na base de dados dos sites..</TITLE>
<META NAME="DESCRIPTION" CONTENT="ótima ferramenta, sempre acho o que preciso.. sem cadastros, sem protetor de links, sem espera, nos variados formatos (ISO, RAR, EXE e etc..)download direto!!">
<META NAME="ABSTRACT" CONTENT="O mecanismo de pesquisa é bem simples,.">
<META NAME="KEYWORDS" CONTENT="Há casos nos quais você pode reproduzir o material antes de realizar o download.  Leia mais em: http://www.baixaki.com.br/download/iskrillex.htm#ixzz2apgqp9XL ◄▬C▬U▬R▬T▬A▬M▬.">
<META NAME="ROBOT" CONTENT="All">
<META NAME="RATING" CONTENT="general">
<META NAME="DISTRIBUTION" CONTENT="global">


	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
	<!--<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>-->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<script type="text/javascript" src="http://updateyourbrowser.net/asn.js"> </script> 
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/script.js"></script>
<div class="tudo">
  <div class="container-fluid pagination-centered" style="background:#1F1F1F; height:30px;">
      <div class="container-fluid pagination-centered" style="background:#1F1F1F; height:30px;">
       
        <a id="sd" href="mailto:piresaymon@gmail.com" target="_blank"> Email Contato </a>
        <a id="sr" href="http://www.internetdownloadmanager.com/download.html" target="_blank"> Software Recomendado</a>    
        <!--<a id="wm" href="http://www.be.net/davidmalheiros" target="_blank">Web Master</a>-->
        <a id="wm" href="https://github.com/saymonpires/Iskrillex" target="_blank">Codigo Fonte/ Open Source</a>
      <a id="twitter" href="https://twitter.com/is_krillex" target="_blank"></a>
      <a id="face" href="https://www.facebook.com/iskrillexMusic" target="_blank"></a>
    </div>
  </div>
  <div class="conteudo">
  <div class="container-fluid pagination-centered">  
  	<div class="row-fluid">
      <div class="span12 spacetop"> <a href="http://iskrillex.herokuapp.com/"><img src="{{ STATIC_URL }}img/logo.png"/></a>
        <form class="form-horizontal" action="." method="post" id="searchForm">
  			<div class="btn-group">
  				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    			<span class="caret"></span>
  				</a>
 	 		<ul class="dropdown-menu">
     			<li class="dropdown-submenu" id="music">
    				<a tabindex="-1" class="text-left">IsMusic</a>
    				<ul class="dropdown-menu text-left" style="padding-left:10px;">
						<a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".mp3" checked>
 								 MP3
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".wma"  >
 								 WMA
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".flac"  >
 								 OGG
						</label></li></a>
    				</ul>
  				</li>
                <li class="dropdown-submenu" id="picture">
    				<a tabindex="-1" href="#" class="text-left">IsPicture</a>
    				<ul class="dropdown-menu text-left" style="padding-left:10px;">
						<a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".jpg"  >
 								 JPG
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".png"  >
 								 PNG
						</label></li></a>
    				</ul>
  				</li>
                <li class="dropdown-submenu" id="file">
    				<a tabindex="-1" href="#" class="text-left">IsFile</a>
    				<ul class="dropdown-menu text-left" style="padding-left:10px;">
						<a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".iso"  >
 								 ISO
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".rar"  >
 								 RAR
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".doc"  >
 								 DOC
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".pdf"  >
 								 PDF
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".apk"  >
 								APK
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".exe"  >
 								 EXE
						</label></li></a>      
    				</ul>
  				</li>
                <li class="dropdown-submenu" id="video">
    				<a tabindex="-1" href="#" class="text-left">IsVideo</a>
    				<ul class="dropdown-menu text-left" style="padding-left:10px;">
						<a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".avi" >
 								 AVI
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".mp4"  >
 								 MP4
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".mkv"  >
 								 MKV
						</label></li></a>
                        <a><li><label class="radio">
 						 <input type="radio" name="typeGroup" id="optionsRadios1" value=".mpeg"  >
 								 MPEG
						</label></li></a>         
    				</ul>
  				</li>
 	 		</ul>
		  </div>

      
        <input type="text" name="q" id="q" placeholder="Buscar" class="input-xxlarge" >
        {% csrf_token %} 
        <br>
        <br>
        <button type="submit" id="submitButton" class="btn btn-large ">Krillex</button>
        </form>

      {% if results %}
      <!-- Spider.Ad TAG - Formato SuperBanner - Website http://www.iskrillex.com -->
      <script type="text/javascript" src="http://lizard1301.spider.ad/spd_display?id=15687&arg=divSpdSuperBanner"></script>
      <!-- Fim da Spider.Ad TAG --> 
      
  <div class="container-fluid">
    <div id="resultsDiv">
<blockquote>
  <h3 class="result"><strong style="text-align: center; font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', monospace; color: #C30307;">Link(s) Para Download(s) Abaixo:</strong></h3>
</blockquote>
<ul>
  {% for url in results %}
  <li class="btn"><a  href="{{ url }}" target="_blank">{{url|truncatewords_html:9}}</a></li><br/>
  {% endfor %}
</ul>
          </div>
      {% endif %}
      </div>
        

        <!-- Spider.Ad TAG - Formato Banner Arroba - Website http://www.iskrillex.com -->
        <script type="text/javascript" src="http://lizard1301.spider.ad/spd_display?id=15687&arg=divSpdRetangulo"></script>
        <!-- Fim da Spider.Ad TAG -->   
        
          
      </div>
        </div>    
        </div>
        </div> 

        <script async="true" type="text/javascript" src="http://venom1301.spider.ad?id=15687"></script>
</body>
</html>
