<!DOCTYPE html>
<html lang="pt-br">
<head>
    <TITLE> Iskrillex! Evite esperas, captchas e cadastros desnecessários buscando os arquivos direto na base de dados
        dos sites..</TITLE>
    <META NAME="DESCRIPTION"
          CONTENT="ótima ferramenta, sempre acho o que preciso.. sem cadastros, sem protetor de links, sem espera, nos variados formatos (ISO, RAR, EXE e etc..)download direto!!">
    <META NAME="ABSTRACT" CONTENT="O mecanismo de pesquisa é bem simples,.">
    <META NAME="KEYWORDS"
          CONTENT="Há casos nos quais você pode reproduzir o material antes de realizar o download.  Leia mais em: http://www.baixaki.com.br/download/iskrillex.htm#ixzz2apgqp9XL ◄▬C▬U▬R▬T▬A▬M▬.">
    <META NAME="ROBOT" CONTENT="All">
    <META NAME="RATING" CONTENT="general">
    <META NAME="DISTRIBUTION" CONTENT="global">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!--<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/png" href="../../static/img/seal.png"/>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-responsive.css">

    <script type="text/javascript" src="http://updateyourbrowser.net/asn.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/script.js"></script>

    <!--Detectando adBlock ou similares  -->
    <script src="../../static/js/advertisement.js" type="text/javascript"></script>
    <script type="text/javascript">
              if(document.getElementById("ad_block") == undefined) {
                //Aqui vai a tratativa para solicitar liberação, etc
                alert("Por Favor! Desative o ADBLOCK em nosso Aplicativo ou faça uma doação! Para ajudar a manter-lo on-Line @^@");
                //Nem pense em esconder conteúdo! :O
              }


    </script>


</head>
<body>

<script async="true" type="text/javascript" src="http://venom1301.spider.ad?id=15687"></script>
<script async="true" type="text/javascript" src="http://carnage1301.spider.ad?id=33020"></script>


<div class="tudo">
    <div class="container-fluid pagination-centered" style="background:#1F1F1F; height:30px;">
        <div class="container-fluid pagination-centered" style="background:#1F1F1F; height:30px;">
            <a id="sd" href="mailto:piresaymon@gmail.com" target="_blank"> Contact </a>
            <a id="sr"
               href="http://jdownloader.org/pt/download/offline"
               target="_blank"> Software Recomendado </a>
            
            
            <a id="wm" href="https://github.com/saymonpires/Iskrillex" target="_blank"> Código Fonte / Open Source
            </a>
            <figure class="foto-logo">
            <a id="twitter" href="https://twitter.com/is_krillex" target="_blank"></a>
            
                <a id="face" href="https://www.facebook.com/isKrillexMusic" target="_blank"></a>
            </figure>
                </div>
    </div>
    <div class="conteudo">
        <div class="container-fluid pagination-centered">
            <div class="row-fluid">
                <div class="span12 spacetop">
                        
                    
                    
                    <figure class="foto-logo">
                    <a href="http://iskrillex.herokuapp.com">
                        <img src="../../static/img/logo.png" alt="Logo Iskillex"/>
                    </a>
                         <a href="https://affiliates.mozilla.org/referral/70959/" target="_blank">
                    <img src="https://affiliates.mozilla.org/media/uploads/banners/a3acce222ead4b4957d0f3764a93b40da68fb236.png" alt="Firefox Aurora" title="Firefox Aurora">
                    </figure>
                     
                    </a>
                    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                    <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                        <input type="hidden" name="currency" value="BRL"/>
                        <input type="hidden" name="receiverEmail" value="piresaymon@gmail.com"/>
                        <input type="image"
                               src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/120x53-doar-preto.gif"
                               name="submit"
                               alt="Ajude o Iskema A Crescer! Pague com PagSeguro - é rápido, grátis e seguro! "/>
                    </form>
                    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->

                    <form class="form-horizontal" action="." method="post" id="searchForm">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu" id="music">
                                    <a tabindex="-1" class="text-left"> IsMusic </a>
                                    <ul class="dropdown-menu text-left" style="padding-left:10px;">
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value="mp3"
                                                       checked/>
                                                MP3
                                            </label></li>
                                        </a>

                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".wma"/>
                                                WMA
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".flac"/>
                                                Flac
                                            </label></li>
                                        </a>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu" id="file">
                                    <a tabindex="-1" href="#" class="text-left"> IsFile </a>
                                    <ul class="dropdown-menu text-left" style="padding-left:10px;">
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".iso"/>
                                                ISO
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".rar"/>
                                                RAR
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".cbr"/>
                                                HQs
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".pdf"/>
                                                PDF
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".apk"/>
                                                APK(Android)
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".exe"/>
                                                EXE
                                            </label></li>
                                        </a>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu" id="video">
                                    <a tabindex="-1" href="#" class="text-left"> IsVideo </a>
                                    <ul class="dropdown-menu text-left" style="padding-left:10px;">
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".avi"/>
                                                AVI
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".mp4"/>
                                                MP4
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".mkv"/>
                                                MKV
                                            </label></li>
                                        </a>
                                        <a>
                                            <li><label class="radio">
                                                <input type="radio" name="typeGroup" id="optionsRadios1" value=".mpeg"/>
                                                MPEG
                                            </label></li>
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <input type="text" name="q" id="q" placeholder="Buscar" class="input-xxlarge"/>
                        {% csrf_token %}
                        <br>
                        <br>
                        <button type="submit" id="submitButton" class="btn btn-large "> Krillex </button>
                    </form>

                    {% if results %}


                    <div id="resultsDiv">
                        <h3 class="result"> Obrigado por usa ISKRILLEX! <br/>Link(s) Para Download(s) Abaixo: </h3>
                        <!-- <script type="text/javascript"> alert("Obrigado por usa ISKRILLEX!!! Role a Pagina Para Baixo!")
                        </script>-->
                        <div class="div">


                            <!-- Spider.Ad TAG - Formato SuperBanner - Website http://iskrillex.herokuapp.com -->
                            <script type="text/javascript"
                                    src="http://lizard1301.spider.ad/spd_display?p1=33020.divSpdSuperBanner"></script>
                            <!-- Fim da Spider.Ad TAG -->
                            <!-- Selo Spider.Ad 120x50 -->
                            <iframe src="http://cdn4.spider.ad/indication/120x50.html?8016" width="120" height="50"
                                    scrolling="no" frameborder="0"></iframe>

                            <div class="container-fluid">


                                <ol>
                                    {% for url in results %}
                                    <li>
                                        <h4>
                                            <a href="{{ url }}" target="_blank" title="Link Seguro">{{url|truncatewords_html:15}}</a>
                                    </li>
                                    <br/>
                                    </h4>
                                    </li>
                                    {% endfor %}
                                    </ul>


                                    </ol>
                                  {% endif %}
                            </div>



                            <!-- Spider.Ad TAG - Formato SuperBanner - Website http://www.iskrillex.com -->
                            <script type="text/javascript"
                                    src="http://lizard1301.spider.ad/spd_display?id=15687&arg=divSpdSuperBanner"></script>
                            <!-- Fim da Spider.Ad TAG -->
                        </div>
                    </div>

                    <!-- Spider.Ad TAG - Formato Banner Arroba - Website http://www.iskrillex.com -->
                    <script type="text/javascript"
                            src="http://lizard1301.spider.ad/spd_display?id=15687&arg=divSpdRetangulo"></script>
                    <!-- Fim da Spider.Ad TAG -->
                    <!-- Spider.Ad TAG - Formato Banner Arroba - Website http://iskrillex.herokuapp.com -->
                    <script type="text/javascript"
                            src="http://lizard1301.spider.ad/spd_display?p1=33020.divSpdRetangulo">
                    </script>
                    <!-- Fim da Spider.Ad TAG -->


                </div>
            </div>
        </div>
    </div>
    
</div>

<footer  id="rodape">
        COPYLEFT <img src="/static/img/Copyleft.png" title="Copyletf" alt="Copyleft"/>
        ISKRILLEX GROUP 2014 - 2015. <br/>
        BECAUSE FREE IsUPER YUMMY!
    </footer>
</body>
</html>
