
<html>
<head>
<title>Iskrillex</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="Author" content="Bharani M">
<meta name="Description" content="A kickass CSS3 Dropdown menu">
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
<div id="divSpdInText">
  <section id="wrapper">
  <h1>IsKrillex.Com</h1>
  <div id="main">
    <form action="." method="POST">
    {% csrf_token %} 
    {{form}}
    <input type="submit" class="solid" value="Search">
    </form>
  </div>
  <!--main-->
  </section>
  <section id="results">  
 
  

    {% if results %}
    <h3>Link(s) Para Download(s) Abaixo</h3>
      {% for url in results %}        

      <ul><a  href= "{{ url }}" target="_top">{{url}}</a></ul>       
      {% endfor %}
    {% endif %}
  </section>
  <!--wrapper-->
  <script src="http://code.jquery.com/jquery.js"></script>
 </div>
</body>
</html>