.background{
	background:rgba(202, 207, 228, 0.8);
}

#page{
	/* The main container div */
	width:900px;
	margin:60px auto 0;
}


#social{
	padding-bottom: 20px;
	display: inline;
}
h1.logo{
	font-family:Corbel,'Myriad Pro',Arial, Helvetica, sans-serif;
	background:url('/static/img/heading.png') no-repeat center top;
/*	text-indent:-9999px;*/
	/*overflow:hidden;*/
	height:90px;
}

    * {
    margin:0;
    padding:0;
    }
     
    html, body {height:100%;}
     
    .geral {
    min-height:100%;
    position:relative;
    width:800px;
    }
     
    .footer {
    position:absolute;
    bottom:0;
    width:100%;
    }
     
    .content {overflow:hidden;}
    .aside {width:200px;}
    .fleft {float:left;}
    .fright {float:right;}



#q{
	/* The search text box. */
	
	border:none;
	color:#888888;
	background:url("/static/img/searchBox.png") no-repeat;
	
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	outline:medium none;
	padding:0 0 0 35px;
	text-shadow:1px 1px 0 white;
	width:385px;
}

/* The UL that contains the search type icons */

.icons  ul{
	 padding:0px;
    margin:0px;
    float: right;   
    list-style:none;
}

.icons li{
	/*background:url("/static/img/icons.png") no-repeat;*/
	 padding: 2px 10px;
	 display: inline;
}
#types{
	 padding: 2px 10px;	 
}

.types input[type=radio]{
	cursor:pointer;
	padding: 2px 10px;
	/*float:left;*/
}

.sociallinks {
    margin-bottom: 0 !important;
    padding: 5px 0;
}

.sociallinks li {
    display: inline-block;
    list-style: none outside none;
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
}

.clear{
	clear:both;
}